*{
    padding: 0px;
    margin: 0px;
}

#navbar{
    position: absolute;
    color: white;
    width: 100%;
}

#nav{
    top: 12px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
    padding-right: 12px;
}

#nav a{
    padding: 10px;
    font-size: 20px;
}

#diff{
    font-size: 10px;
    text-align: left;
}

#background{
    height: 70vh;
    width: 100vw;
}

#logo{
    position: absolute;
    height: auto;
    width: 300px;
    top: 100px;
    left: 530px;
}

.text{
    position: absolute;
    top: 30%;
    left: 25%;
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#i1{
    height: 10px;
    border: 2px solid white;
    background-color: white;
    
}

#place{
    position: absolute;
    top: 40%;
    left: 40%;
}

#search{
    position: absolute;
    top: 40%;
    left: 50%;
}

.photos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 200px;
    width: auto;
}

.p1{
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
}

.photo{
    height: 200px;
    width: auto;
    padding-top: 10px;
    padding-bottom: 5px;
}
